@page "/logout"

@using AuthBroker.Authentication
@using AuthBroker.Models;
@inject UserAccStore us;
@inject NavigationManager navManager;
@inject AuthenticationStateProvider authStateProvider;

<span>@Loc["Logging out"]</span>

@code {

	 protected override async Task OnInitializedAsync() {
			var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;

			await customAuthStateProvider.UpdateAuthenticationState(null);
			navManager.NavigateTo("/", true);
	}
}
