@inherits LayoutComponentBase

@inject NavigationManager navMan;

<PageTitle>AuthBroker</PageTitle>

<AuthorizeView Context="Auth">
	<Authorized>
		<div class="page">
			<AuthorizeView Roles="Admin" Context="AdminNavBar">
				<div class="sidebar">
					<NavMenu />
				</div>
			</AuthorizeView>
			<main>
				<div class="top-row px-4">
					<span>@string.Format("{0} ({1})", Auth.User.Identity.Name, Auth.User.IsInRole("Admin")?@Loc["Admin"]:@Loc["User"])</span>
					<a href="/logout">@Loc["Logout"]</a>
				</div>

				<article class="content px-4">
					@Body
				</article>
			</main>
		</div>
	</Authorized>
	<NotAuthorized>
		@Body
		@{

			@if (!navMan.Uri.Contains(navMan.BaseUri+"auth"))
				navMan.NavigateTo("auth");
		}
	</NotAuthorized>
</AuthorizeView>
<Toasts class="p-3" AutoHide="true" Delay="2000" Placement="ToastsPlacement.BottomRight"/>